<manifest
	package = "app.boxresin.runninghealthapp"
	xmlns:android = "http://schemas.android.com/apk/res/android">

	<uses-permission android:name = "android.permission.INTERNET"/>
	<uses-permission android:name = "android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name = "android.permission.CAMERA"/>

	<uses-feature android:name = "android.hardware.camera"/>
	<uses-feature android:name = "android.hardware.camera.autofocus"/>

	<application
		android:name = ".MyApplication"
		android:allowBackup = "true"
		android:icon = "@drawable/icon"
		android:label = "@string/app_name"
		android:supportsRtl = "true"
		android:theme = "@style/AppTheme">

		<!-- 메인 액티비티 (지도, 기록, 그래프 화면을 볼 수 있음) -->
		<activity android:name = ".MainActivity">
		</activity>

		<!-- 웰컴 액티비티 (처음 앱 실행하면 나타남) -->
		<activity android:name = ".WelcomeActivity">
			<intent-filter>
				<action android:name = "android.intent.action.MAIN"/>
				<category android:name = "android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<!-- 설정 액티비티 -->
		<activity
			android:name = ".SettingActivity"
			android:label = "@string/title_setting_activity">
		</activity>

		<!-- 기록을 지도에 보여주는 액티비티 -->
		<activity android:name = ".RecordViewerActivity"/>
	</application>
</manifest>